/.vscode
/count.class
/count.java
/fibonacci.class
/fibonacci.java
/Function_1.class
/Function_1.java
/Function_2.class
/Function_2.java
/Function_3.class
/function_3.java
/Function_4.class
/Function_4.java
/GCD.class
/GCD.java
/power.class
/power.java
/s.txt
/sd.txt
/student.txt
/z.txt